[Unit]
Description= PKT POOL announcement handlers
After=network.target
StartLimitIntervalSec=0

[Service]
EnvironmentFile=/etc/pktpool/ah-num
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/pcm ah ah$aHnum -C /etc/pktpool/cfg.toml > /tmp/ah$aHnum.log

[Install]
WantedBy=multi-user.target